<nz-footer>
    <div class="container">
        <div class="infor-ft">
            <div nz-row [nzGutter]="16">
                <div nz-col class="gutter-row" [nzSpan]="col">
                    <div class="inner-box">
                        <div class="img-ft">
                            <a href={{url}}>
                                <img src="../../../../assets/images/efc-footer.png" alt="">
                            </a>
                        </div>
                        <div class="infor center">
                            <p class="address">
                                Tầng 10, Tòa nhà Pax Sky, Số 51 Đường Nguyễn Cư Trinh, Phường Nguyễn Cư Trinh, Quận 1, TP. Hồ Chí Minh
                            </p>
                            <p>Tel: <a href="tel: 0888793888">0888 793 888</a></p>
                            <p>Hotline: <a href="tel: 0888793888">0888 793 888</a></p>
                            <p>Email: <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="col">
                    <div class="inner-box">
                        <div class="infor">
                            <p class="name">TRUNG TÂM KIỂM NGHIỆM & CHỨNG NHẬN SẢN PHẨM NÔNG NGHIỆP BỀN VỮNG GREEN ECO</p>
                            <p class="address">350/1/2A Nguyễn Văn Lượng, Phường 16, Gò Vấp, TP.HCM</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                        <div class="infor">
                            <p class="name">ĐẠI DIỆN BÌNH DƯƠNG</p>
                            <p class="address">16/8 Đường An Thạnh 41, Khu phố Thạnh Quý, P. An Thạnh, TP. Thuận An, Bình Dương</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="col">
                    <div class="inner-box">
                        <div class="infor">
                            <p class="name">TRUNG TÂM KỸ THUẬT - AN TOÀN & TIÊU CHUẨN 8</p>
                            <p class="address">350/1/2A Nguyễn Văn Lượng, Phường 16, Gò Vấp, TP.HCM</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                        <div class="infor">
                            <p class="name">ĐẠI DIỆN TP. HẢI PHÒNG</p>
                            <p class="address">5 Nguyễn Sơn Hà, Phường Vĩnh Niệm, Quận Lê Chân, TP. Hải Phòng</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                    </div>
                </div>
                <div nz-col class="gutter-row" [nzSpan]="col">
                    <div class="inner-box">
                        <div class="infor">
                            <p class="name">CHI NHÁNH HÀ NỘI</p>
                            <p class="address">24 Đường Vạn Bảo, Quận Ba Đình, TP. Hà Nội</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                        <div class="infor">
                            <p class="name">ĐẠI DIỆN MIỀN TRUNG</p>
                            <p class="address">09 Hồ Xuân Hương - Phường Phú Hiệp, Thành phố Huế</p>
                            <p><span class="bold">Tel:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Hotline:</span> <a href="tel: 0888793888">0888 793 888</a></p>
                            <p><span class="bold">Email:</span> <a href="mailto: info.hanoi@efcvietnam.com">info.hanoi@efcvietnam.com</a></p>
                        </div>
                    </div>
                </div>
              </div>

            
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-ct">
                <p>© 2021 EFC International. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</nz-footer>